/*
 * Teamwork.com Projects API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 3.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package projv3

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"time"
)

// Linger please
var (
	_ _context.Context
)

// NotebooksApiService NotebooksApi service
type NotebooksApiService service

type ApiDELETEProjectsApiV3NotebooksnotebookIdJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
}


func (r ApiDELETEProjectsApiV3NotebooksnotebookIdJsonRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DELETEProjectsApiV3NotebooksnotebookIdJsonExecute(r)
}

/*
 * DELETEProjectsApiV3NotebooksnotebookIdJson Delete an existing notebook.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiDELETEProjectsApiV3NotebooksnotebookIdJsonRequest
 */
func (a *NotebooksApiService) DELETEProjectsApiV3NotebooksnotebookIdJson(ctx _context.Context, notebookId int32) ApiDELETEProjectsApiV3NotebooksnotebookIdJsonRequest {
	return ApiDELETEProjectsApiV3NotebooksnotebookIdJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 */
func (a *NotebooksApiService) DELETEProjectsApiV3NotebooksnotebookIdJsonExecute(r ApiDELETEProjectsApiV3NotebooksnotebookIdJsonRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.DELETEProjectsApiV3NotebooksnotebookIdJson")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDELETEProjectsApiV3NotebooksnotebookIdVersionsJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
}


func (r ApiDELETEProjectsApiV3NotebooksnotebookIdVersionsJsonRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DELETEProjectsApiV3NotebooksnotebookIdVersionsJsonExecute(r)
}

/*
 * DELETEProjectsApiV3NotebooksnotebookIdVersionsJson Delete notebook versions.
 * Deletes some existing versions of a notebook by version ID
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiDELETEProjectsApiV3NotebooksnotebookIdVersionsJsonRequest
 */
func (a *NotebooksApiService) DELETEProjectsApiV3NotebooksnotebookIdVersionsJson(ctx _context.Context, notebookId int32) ApiDELETEProjectsApiV3NotebooksnotebookIdVersionsJsonRequest {
	return ApiDELETEProjectsApiV3NotebooksnotebookIdVersionsJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 */
func (a *NotebooksApiService) DELETEProjectsApiV3NotebooksnotebookIdVersionsJsonExecute(r ApiDELETEProjectsApiV3NotebooksnotebookIdVersionsJsonRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.DELETEProjectsApiV3NotebooksnotebookIdVersionsJson")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}/versions.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGETProjectsApiV3NotebooksJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	updatedAfterDate *time.Time
	updatedAfter *time.Time
	searchTerm *string
	projectStatuses *string
	orderMode *string
	orderBy *string
	createdAfterDate *string
	createdAfter *string
	projectHealths *int32
	pageSize *int32
	page *int32
	showDeleted *bool
	secureOnly *bool
	matchAllTags *bool
	matchAllProjectTags *bool
	lockedOnly *bool
	getEmoji *bool
	tagIds *[]int32
	projectTagIds *[]int32
	projectOwnerIds *[]int32
	projectIds *[]int32
	projectCompanyIds *[]int32
	projectCategoryIds *[]int32
	include *[]string
	ids *[]int32
	fieldsUsers *[]string
	fieldsTeams *[]string
	fieldsTags *[]string
	fieldsProjects *[]string
	fieldsNotebooks *[]string
	fieldsNotebookCategories *[]string
	fieldsCompanies *[]string
	creatorIds *[]int32
	categoryIds *[]int32
}

func (r ApiGETProjectsApiV3NotebooksJsonRequest) UpdatedAfterDate(updatedAfterDate time.Time) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.updatedAfterDate = &updatedAfterDate
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) UpdatedAfter(updatedAfter time.Time) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.updatedAfter = &updatedAfter
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) SearchTerm(searchTerm string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.searchTerm = &searchTerm
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectStatuses(projectStatuses string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectStatuses = &projectStatuses
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) OrderMode(orderMode string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.orderMode = &orderMode
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) OrderBy(orderBy string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.orderBy = &orderBy
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) CreatedAfterDate(createdAfterDate string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.createdAfterDate = &createdAfterDate
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) CreatedAfter(createdAfter string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.createdAfter = &createdAfter
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectHealths(projectHealths int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectHealths = &projectHealths
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) PageSize(pageSize int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) Page(page int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.page = &page
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ShowDeleted(showDeleted bool) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.showDeleted = &showDeleted
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) SecureOnly(secureOnly bool) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.secureOnly = &secureOnly
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) MatchAllTags(matchAllTags bool) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.matchAllTags = &matchAllTags
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) MatchAllProjectTags(matchAllProjectTags bool) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.matchAllProjectTags = &matchAllProjectTags
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) LockedOnly(lockedOnly bool) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.lockedOnly = &lockedOnly
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) GetEmoji(getEmoji bool) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.getEmoji = &getEmoji
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) TagIds(tagIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.tagIds = &tagIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectTagIds(projectTagIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectTagIds = &projectTagIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectOwnerIds(projectOwnerIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectOwnerIds = &projectOwnerIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectIds(projectIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectIds = &projectIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectCompanyIds(projectCompanyIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectCompanyIds = &projectCompanyIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) ProjectCategoryIds(projectCategoryIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.projectCategoryIds = &projectCategoryIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) Include(include []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.include = &include
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) Ids(ids []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.ids = &ids
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsUsers(fieldsUsers []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsTeams(fieldsTeams []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsTeams = &fieldsTeams
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsTags(fieldsTags []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsTags = &fieldsTags
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsProjects(fieldsProjects []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsProjects = &fieldsProjects
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsNotebooks(fieldsNotebooks []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsNotebooks = &fieldsNotebooks
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsNotebookCategories(fieldsNotebookCategories []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsNotebookCategories = &fieldsNotebookCategories
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) FieldsCompanies(fieldsCompanies []string) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.fieldsCompanies = &fieldsCompanies
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) CreatorIds(creatorIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.creatorIds = &creatorIds
	return r
}
func (r ApiGETProjectsApiV3NotebooksJsonRequest) CategoryIds(categoryIds []int32) ApiGETProjectsApiV3NotebooksJsonRequest {
	r.categoryIds = &categoryIds
	return r
}

func (r ApiGETProjectsApiV3NotebooksJsonRequest) Execute() (NotebookNotebooksResponse, *_nethttp.Response, error) {
	return r.ApiService.GETProjectsApiV3NotebooksJsonExecute(r)
}

/*
 * GETProjectsApiV3NotebooksJson Get a list of notebooks.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGETProjectsApiV3NotebooksJsonRequest
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksJson(ctx _context.Context) ApiGETProjectsApiV3NotebooksJsonRequest {
	return ApiGETProjectsApiV3NotebooksJsonRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return NotebookNotebooksResponse
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksJsonExecute(r ApiGETProjectsApiV3NotebooksJsonRequest) (NotebookNotebooksResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookNotebooksResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.GETProjectsApiV3NotebooksJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.updatedAfterDate != nil {
		localVarQueryParams.Add("updatedAfterDate", parameterToString(*r.updatedAfterDate, ""))
	}
	if r.updatedAfter != nil {
		localVarQueryParams.Add("updatedAfter", parameterToString(*r.updatedAfter, ""))
	}
	if r.searchTerm != nil {
		localVarQueryParams.Add("searchTerm", parameterToString(*r.searchTerm, ""))
	}
	if r.projectStatuses != nil {
		localVarQueryParams.Add("projectStatuses", parameterToString(*r.projectStatuses, ""))
	}
	if r.orderMode != nil {
		localVarQueryParams.Add("orderMode", parameterToString(*r.orderMode, ""))
	}
	if r.orderBy != nil {
		localVarQueryParams.Add("orderBy", parameterToString(*r.orderBy, ""))
	}
	if r.createdAfterDate != nil {
		localVarQueryParams.Add("createdAfterDate", parameterToString(*r.createdAfterDate, ""))
	}
	if r.createdAfter != nil {
		localVarQueryParams.Add("createdAfter", parameterToString(*r.createdAfter, ""))
	}
	if r.projectHealths != nil {
		localVarQueryParams.Add("projectHealths", parameterToString(*r.projectHealths, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.showDeleted != nil {
		localVarQueryParams.Add("showDeleted", parameterToString(*r.showDeleted, ""))
	}
	if r.secureOnly != nil {
		localVarQueryParams.Add("secureOnly", parameterToString(*r.secureOnly, ""))
	}
	if r.matchAllTags != nil {
		localVarQueryParams.Add("matchAllTags", parameterToString(*r.matchAllTags, ""))
	}
	if r.matchAllProjectTags != nil {
		localVarQueryParams.Add("matchAllProjectTags", parameterToString(*r.matchAllProjectTags, ""))
	}
	if r.lockedOnly != nil {
		localVarQueryParams.Add("lockedOnly", parameterToString(*r.lockedOnly, ""))
	}
	if r.getEmoji != nil {
		localVarQueryParams.Add("getEmoji", parameterToString(*r.getEmoji, ""))
	}
	if r.tagIds != nil {
		localVarQueryParams.Add("tagIds", parameterToString(*r.tagIds, "csv"))
	}
	if r.projectTagIds != nil {
		localVarQueryParams.Add("projectTagIds", parameterToString(*r.projectTagIds, "csv"))
	}
	if r.projectOwnerIds != nil {
		localVarQueryParams.Add("projectOwnerIds", parameterToString(*r.projectOwnerIds, "csv"))
	}
	if r.projectIds != nil {
		localVarQueryParams.Add("projectIds", parameterToString(*r.projectIds, "csv"))
	}
	if r.projectCompanyIds != nil {
		localVarQueryParams.Add("projectCompanyIds", parameterToString(*r.projectCompanyIds, "csv"))
	}
	if r.projectCategoryIds != nil {
		localVarQueryParams.Add("projectCategoryIds", parameterToString(*r.projectCategoryIds, "csv"))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.ids != nil {
		localVarQueryParams.Add("ids", parameterToString(*r.ids, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	if r.fieldsTeams != nil {
		localVarQueryParams.Add("fields[teams]", parameterToString(*r.fieldsTeams, "csv"))
	}
	if r.fieldsTags != nil {
		localVarQueryParams.Add("fields[tags]", parameterToString(*r.fieldsTags, "csv"))
	}
	if r.fieldsProjects != nil {
		localVarQueryParams.Add("fields[projects]", parameterToString(*r.fieldsProjects, "csv"))
	}
	if r.fieldsNotebooks != nil {
		localVarQueryParams.Add("fields[notebooks]", parameterToString(*r.fieldsNotebooks, "csv"))
	}
	if r.fieldsNotebookCategories != nil {
		localVarQueryParams.Add("fields[notebookCategories]", parameterToString(*r.fieldsNotebookCategories, "csv"))
	}
	if r.fieldsCompanies != nil {
		localVarQueryParams.Add("fields[companies]", parameterToString(*r.fieldsCompanies, "csv"))
	}
	if r.creatorIds != nil {
		localVarQueryParams.Add("creatorIds", parameterToString(*r.creatorIds, "csv"))
	}
	if r.categoryIds != nil {
		localVarQueryParams.Add("categoryIds", parameterToString(*r.categoryIds, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
	include *[]string
	fieldsUsers *[]string
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest) Include(include []string) ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest {
	r.include = &include
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest) FieldsUsers(fieldsUsers []string) ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest) Execute() (NotebookVersionResponse, *_nethttp.Response, error) {
	return r.ApiService.GETProjectsApiV3NotebooksnotebookIdCompareJsonExecute(r)
}

/*
 * GETProjectsApiV3NotebooksnotebookIdCompareJson Compare 2 notebook versions
 * Gets the contents diff between the contents of 2 notebook versions
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdCompareJson(ctx _context.Context, notebookId int32) ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest {
	return ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 * @return NotebookVersionResponse
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdCompareJsonExecute(r ApiGETProjectsApiV3NotebooksnotebookIdCompareJsonRequest) (NotebookVersionResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.GETProjectsApiV3NotebooksnotebookIdCompareJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}/compare.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
	updatedAfterDate *time.Time
	updatedAfter *time.Time
	showDeleted *bool
	getEmoji *bool
	include *[]string
	fieldsUsers *[]string
	fieldsTeams *[]string
	fieldsTags *[]string
	fieldsProjects *[]string
	fieldsNotebooks *[]string
	fieldsNotebookCategories *[]string
	fieldsCompanies *[]string
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) UpdatedAfterDate(updatedAfterDate time.Time) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.updatedAfterDate = &updatedAfterDate
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) UpdatedAfter(updatedAfter time.Time) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.updatedAfter = &updatedAfter
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) ShowDeleted(showDeleted bool) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.showDeleted = &showDeleted
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) GetEmoji(getEmoji bool) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.getEmoji = &getEmoji
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) Include(include []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.include = &include
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsUsers(fieldsUsers []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsTeams(fieldsTeams []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsTeams = &fieldsTeams
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsTags(fieldsTags []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsTags = &fieldsTags
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsProjects(fieldsProjects []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsProjects = &fieldsProjects
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsNotebooks(fieldsNotebooks []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsNotebooks = &fieldsNotebooks
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsNotebookCategories(fieldsNotebookCategories []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsNotebookCategories = &fieldsNotebookCategories
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsCompanies(fieldsCompanies []string) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsCompanies = &fieldsCompanies
	return r
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) Execute() (NotebookResponse, *_nethttp.Response, error) {
	return r.ApiService.GETProjectsApiV3NotebooksnotebookIdJsonExecute(r)
}

/*
 * GETProjectsApiV3NotebooksnotebookIdJson Get a specific notebook.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdJson(ctx _context.Context, notebookId int32) ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest {
	return ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 * @return NotebookResponse
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdJsonExecute(r ApiGETProjectsApiV3NotebooksnotebookIdJsonRequest) (NotebookResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.GETProjectsApiV3NotebooksnotebookIdJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.updatedAfterDate != nil {
		localVarQueryParams.Add("updatedAfterDate", parameterToString(*r.updatedAfterDate, ""))
	}
	if r.updatedAfter != nil {
		localVarQueryParams.Add("updatedAfter", parameterToString(*r.updatedAfter, ""))
	}
	if r.showDeleted != nil {
		localVarQueryParams.Add("showDeleted", parameterToString(*r.showDeleted, ""))
	}
	if r.getEmoji != nil {
		localVarQueryParams.Add("getEmoji", parameterToString(*r.getEmoji, ""))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	if r.fieldsTeams != nil {
		localVarQueryParams.Add("fields[teams]", parameterToString(*r.fieldsTeams, "csv"))
	}
	if r.fieldsTags != nil {
		localVarQueryParams.Add("fields[tags]", parameterToString(*r.fieldsTags, "csv"))
	}
	if r.fieldsProjects != nil {
		localVarQueryParams.Add("fields[projects]", parameterToString(*r.fieldsProjects, "csv"))
	}
	if r.fieldsNotebooks != nil {
		localVarQueryParams.Add("fields[notebooks]", parameterToString(*r.fieldsNotebooks, "csv"))
	}
	if r.fieldsNotebookCategories != nil {
		localVarQueryParams.Add("fields[notebookCategories]", parameterToString(*r.fieldsNotebookCategories, "csv"))
	}
	if r.fieldsCompanies != nil {
		localVarQueryParams.Add("fields[companies]", parameterToString(*r.fieldsCompanies, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
	include *[]string
	fieldsUsers *[]string
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest) Include(include []string) ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest {
	r.include = &include
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest) FieldsUsers(fieldsUsers []string) ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest) Execute() (NotebookVersionsResponse, *_nethttp.Response, error) {
	return r.ApiService.GETProjectsApiV3NotebooksnotebookIdVersionsJsonExecute(r)
}

/*
 * GETProjectsApiV3NotebooksnotebookIdVersionsJson Get notebook versions
 * Get a list of a notebooks versions.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdVersionsJson(ctx _context.Context, notebookId int32) ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest {
	return ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 * @return NotebookVersionsResponse
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdVersionsJsonExecute(r ApiGETProjectsApiV3NotebooksnotebookIdVersionsJsonRequest) (NotebookVersionsResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.GETProjectsApiV3NotebooksnotebookIdVersionsJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}/versions.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	versionId int32
	notebookId int32
	include *[]string
	fieldsUsers *[]string
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest) Include(include []string) ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest {
	r.include = &include
	return r
}
func (r ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest) FieldsUsers(fieldsUsers []string) ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}

func (r ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest) Execute() (NotebookVersionResponse, *_nethttp.Response, error) {
	return r.ApiService.GETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonExecute(r)
}

/*
 * GETProjectsApiV3NotebooksnotebookIdVersionsversionIdJson Get a notebook version
 * Get a specific notebook version.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param versionId
 * @param notebookId
 * @return ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdVersionsversionIdJson(ctx _context.Context, versionId int32, notebookId int32) ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest {
	return ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest{
		ApiService: a,
		ctx: ctx,
		versionId: versionId,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 * @return NotebookVersionResponse
 */
func (a *NotebooksApiService) GETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonExecute(r ApiGETProjectsApiV3NotebooksnotebookIdVersionsversionIdJsonRequest) (NotebookVersionResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.GETProjectsApiV3NotebooksnotebookIdVersionsversionIdJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}/versions/{versionId}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"versionId"+"}", _neturl.PathEscape(parameterToString(r.versionId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
	notebookRequest *NotebookRequest
	getEmoji *bool
	include *[]string
	fieldsUsers *[]string
	fieldsTeams *[]string
	fieldsTags *[]string
	fieldsProjects *[]string
	fieldsNotebooks *[]string
	fieldsNotebookCategories *[]string
	fieldsCompanies *[]string
}

func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) NotebookRequest(notebookRequest NotebookRequest) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.notebookRequest = &notebookRequest
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) GetEmoji(getEmoji bool) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.getEmoji = &getEmoji
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) Include(include []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.include = &include
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsUsers(fieldsUsers []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsTeams(fieldsTeams []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsTeams = &fieldsTeams
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsTags(fieldsTags []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsTags = &fieldsTags
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsProjects(fieldsProjects []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsProjects = &fieldsProjects
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsNotebooks(fieldsNotebooks []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsNotebooks = &fieldsNotebooks
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsNotebookCategories(fieldsNotebookCategories []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsNotebookCategories = &fieldsNotebookCategories
	return r
}
func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) FieldsCompanies(fieldsCompanies []string) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	r.fieldsCompanies = &fieldsCompanies
	return r
}

func (r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) Execute() (NotebookResponse, *_nethttp.Response, error) {
	return r.ApiService.PATCHProjectsApiV3NotebooksnotebookIdJsonExecute(r)
}

/*
 * PATCHProjectsApiV3NotebooksnotebookIdJson Edits a notebook
 * Edits the fields of an existing notebook
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest
 */
func (a *NotebooksApiService) PATCHProjectsApiV3NotebooksnotebookIdJson(ctx _context.Context, notebookId int32) ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest {
	return ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 * @return NotebookResponse
 */
func (a *NotebooksApiService) PATCHProjectsApiV3NotebooksnotebookIdJsonExecute(r ApiPATCHProjectsApiV3NotebooksnotebookIdJsonRequest) (NotebookResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.PATCHProjectsApiV3NotebooksnotebookIdJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.notebookRequest == nil {
		return localVarReturnValue, nil, reportError("notebookRequest is required and must be specified")
	}

	if r.getEmoji != nil {
		localVarQueryParams.Add("getEmoji", parameterToString(*r.getEmoji, ""))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	if r.fieldsTeams != nil {
		localVarQueryParams.Add("fields[teams]", parameterToString(*r.fieldsTeams, "csv"))
	}
	if r.fieldsTags != nil {
		localVarQueryParams.Add("fields[tags]", parameterToString(*r.fieldsTags, "csv"))
	}
	if r.fieldsProjects != nil {
		localVarQueryParams.Add("fields[projects]", parameterToString(*r.fieldsProjects, "csv"))
	}
	if r.fieldsNotebooks != nil {
		localVarQueryParams.Add("fields[notebooks]", parameterToString(*r.fieldsNotebooks, "csv"))
	}
	if r.fieldsNotebookCategories != nil {
		localVarQueryParams.Add("fields[notebookCategories]", parameterToString(*r.fieldsNotebookCategories, "csv"))
	}
	if r.fieldsCompanies != nil {
		localVarQueryParams.Add("fields[companies]", parameterToString(*r.fieldsCompanies, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notebookRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	projectId int32
	notebookRequest *NotebookRequest
	getEmoji *bool
	include *[]string
	fieldsUsers *[]string
	fieldsTeams *[]string
	fieldsTags *[]string
	fieldsProjects *[]string
	fieldsNotebooks *[]string
	fieldsNotebookCategories *[]string
	fieldsCompanies *[]string
}

func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) NotebookRequest(notebookRequest NotebookRequest) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.notebookRequest = &notebookRequest
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) GetEmoji(getEmoji bool) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.getEmoji = &getEmoji
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) Include(include []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.include = &include
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsUsers(fieldsUsers []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsTeams(fieldsTeams []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsTeams = &fieldsTeams
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsTags(fieldsTags []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsTags = &fieldsTags
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsProjects(fieldsProjects []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsProjects = &fieldsProjects
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsNotebooks(fieldsNotebooks []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsNotebooks = &fieldsNotebooks
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsNotebookCategories(fieldsNotebookCategories []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsNotebookCategories = &fieldsNotebookCategories
	return r
}
func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) FieldsCompanies(fieldsCompanies []string) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	r.fieldsCompanies = &fieldsCompanies
	return r
}

func (r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) Execute() (NotebookResponse, *_nethttp.Response, error) {
	return r.ApiService.POSTProjectsApiV3ProjectsprojectIdNotebooksJsonExecute(r)
}

/*
 * POSTProjectsApiV3ProjectsprojectIdNotebooksJson Create a new notebook.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param projectId
 * @return ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest
 */
func (a *NotebooksApiService) POSTProjectsApiV3ProjectsprojectIdNotebooksJson(ctx _context.Context, projectId int32) ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest {
	return ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

/*
 * Execute executes the request
 * @return NotebookResponse
 */
func (a *NotebooksApiService) POSTProjectsApiV3ProjectsprojectIdNotebooksJsonExecute(r ApiPOSTProjectsApiV3ProjectsprojectIdNotebooksJsonRequest) (NotebookResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  NotebookResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.POSTProjectsApiV3ProjectsprojectIdNotebooksJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/projects/{projectId}/notebooks.json"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", _neturl.PathEscape(parameterToString(r.projectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.notebookRequest == nil {
		return localVarReturnValue, nil, reportError("notebookRequest is required and must be specified")
	}

	if r.getEmoji != nil {
		localVarQueryParams.Add("getEmoji", parameterToString(*r.getEmoji, ""))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	if r.fieldsTeams != nil {
		localVarQueryParams.Add("fields[teams]", parameterToString(*r.fieldsTeams, "csv"))
	}
	if r.fieldsTags != nil {
		localVarQueryParams.Add("fields[tags]", parameterToString(*r.fieldsTags, "csv"))
	}
	if r.fieldsProjects != nil {
		localVarQueryParams.Add("fields[projects]", parameterToString(*r.fieldsProjects, "csv"))
	}
	if r.fieldsNotebooks != nil {
		localVarQueryParams.Add("fields[notebooks]", parameterToString(*r.fieldsNotebooks, "csv"))
	}
	if r.fieldsNotebookCategories != nil {
		localVarQueryParams.Add("fields[notebookCategories]", parameterToString(*r.fieldsNotebookCategories, "csv"))
	}
	if r.fieldsCompanies != nil {
		localVarQueryParams.Add("fields[companies]", parameterToString(*r.fieldsCompanies, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notebookRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPUTProjectsApiV3NotebooksnotebookIdLockJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
}


func (r ApiPUTProjectsApiV3NotebooksnotebookIdLockJsonRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PUTProjectsApiV3NotebooksnotebookIdLockJsonExecute(r)
}

/*
 * PUTProjectsApiV3NotebooksnotebookIdLockJson Lock a notebook
 * Locks a specific notebook.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiPUTProjectsApiV3NotebooksnotebookIdLockJsonRequest
 */
func (a *NotebooksApiService) PUTProjectsApiV3NotebooksnotebookIdLockJson(ctx _context.Context, notebookId int32) ApiPUTProjectsApiV3NotebooksnotebookIdLockJsonRequest {
	return ApiPUTProjectsApiV3NotebooksnotebookIdLockJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 */
func (a *NotebooksApiService) PUTProjectsApiV3NotebooksnotebookIdLockJsonExecute(r ApiPUTProjectsApiV3NotebooksnotebookIdLockJsonRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.PUTProjectsApiV3NotebooksnotebookIdLockJson")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}/lock.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPUTProjectsApiV3NotebooksnotebookIdUnlockJsonRequest struct {
	ctx _context.Context
	ApiService *NotebooksApiService
	notebookId int32
}


func (r ApiPUTProjectsApiV3NotebooksnotebookIdUnlockJsonRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PUTProjectsApiV3NotebooksnotebookIdUnlockJsonExecute(r)
}

/*
 * PUTProjectsApiV3NotebooksnotebookIdUnlockJson Unlock a notebook
 * Unlocks a specific notebook.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param notebookId
 * @return ApiPUTProjectsApiV3NotebooksnotebookIdUnlockJsonRequest
 */
func (a *NotebooksApiService) PUTProjectsApiV3NotebooksnotebookIdUnlockJson(ctx _context.Context, notebookId int32) ApiPUTProjectsApiV3NotebooksnotebookIdUnlockJsonRequest {
	return ApiPUTProjectsApiV3NotebooksnotebookIdUnlockJsonRequest{
		ApiService: a,
		ctx: ctx,
		notebookId: notebookId,
	}
}

/*
 * Execute executes the request
 */
func (a *NotebooksApiService) PUTProjectsApiV3NotebooksnotebookIdUnlockJsonExecute(r ApiPUTProjectsApiV3NotebooksnotebookIdUnlockJsonRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotebooksApiService.PUTProjectsApiV3NotebooksnotebookIdUnlockJson")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/notebooks/{notebookId}/unlock.json"
	localVarPath = strings.Replace(localVarPath, "{"+"notebookId"+"}", _neturl.PathEscape(parameterToString(r.notebookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
