/*
 * Teamwork.com Projects API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 3.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package projv3

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// FormsPublicApiService FormsPublicApi service
type FormsPublicApiService service

type ApiGETProjectsApiV3FormsPublictokenJsonRequest struct {
	ctx _context.Context
	ApiService *FormsPublicApiService
	token int32
	orderMode *string
	hostObjectType *string
	contentState *string
	userId *int32
	pageSize *int32
	page *int32
	hostObjectId *int32
	projectIds *[]int32
	include *[]string
	fieldsUsers *[]string
	fieldsProjects *[]string
	fieldsForms *[]string
}

func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) OrderMode(orderMode string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.orderMode = &orderMode
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) HostObjectType(hostObjectType string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.hostObjectType = &hostObjectType
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) ContentState(contentState string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.contentState = &contentState
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) UserId(userId int32) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.userId = &userId
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) PageSize(pageSize int32) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) Page(page int32) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.page = &page
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) HostObjectId(hostObjectId int32) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.hostObjectId = &hostObjectId
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) ProjectIds(projectIds []int32) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.projectIds = &projectIds
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) Include(include []string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.include = &include
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) FieldsUsers(fieldsUsers []string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.fieldsUsers = &fieldsUsers
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) FieldsProjects(fieldsProjects []string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.fieldsProjects = &fieldsProjects
	return r
}
func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) FieldsForms(fieldsForms []string) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	r.fieldsForms = &fieldsForms
	return r
}

func (r ApiGETProjectsApiV3FormsPublictokenJsonRequest) Execute() (FormPublicResponse, *_nethttp.Response, error) {
	return r.ApiService.GETProjectsApiV3FormsPublictokenJsonExecute(r)
}

/*
 * GETProjectsApiV3FormsPublictokenJson Get a forms via its token.
 * This endpoint does not require authentication.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param token
 * @return ApiGETProjectsApiV3FormsPublictokenJsonRequest
 */
func (a *FormsPublicApiService) GETProjectsApiV3FormsPublictokenJson(ctx _context.Context, token int32) ApiGETProjectsApiV3FormsPublictokenJsonRequest {
	return ApiGETProjectsApiV3FormsPublictokenJsonRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

/*
 * Execute executes the request
 * @return FormPublicResponse
 */
func (a *FormsPublicApiService) GETProjectsApiV3FormsPublictokenJsonExecute(r ApiGETProjectsApiV3FormsPublictokenJsonRequest) (FormPublicResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  FormPublicResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FormsPublicApiService.GETProjectsApiV3FormsPublictokenJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/forms/public/{token}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", _neturl.PathEscape(parameterToString(r.token, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.orderMode != nil {
		localVarQueryParams.Add("orderMode", parameterToString(*r.orderMode, ""))
	}
	if r.hostObjectType != nil {
		localVarQueryParams.Add("hostObject.type", parameterToString(*r.hostObjectType, ""))
	}
	if r.contentState != nil {
		localVarQueryParams.Add("content.state", parameterToString(*r.contentState, ""))
	}
	if r.userId != nil {
		localVarQueryParams.Add("userId", parameterToString(*r.userId, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.hostObjectId != nil {
		localVarQueryParams.Add("hostObject.id", parameterToString(*r.hostObjectId, ""))
	}
	if r.projectIds != nil {
		localVarQueryParams.Add("projectIds", parameterToString(*r.projectIds, "csv"))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, "csv"))
	}
	if r.fieldsUsers != nil {
		localVarQueryParams.Add("fields[users]", parameterToString(*r.fieldsUsers, "csv"))
	}
	if r.fieldsProjects != nil {
		localVarQueryParams.Add("fields[projects]", parameterToString(*r.fieldsProjects, "csv"))
	}
	if r.fieldsForms != nil {
		localVarQueryParams.Add("fields[forms]", parameterToString(*r.fieldsForms, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest struct {
	ctx _context.Context
	ApiService *FormsPublicApiService
	token int32
	formSubmissionRequest *FormSubmissionRequest
}

func (r ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest) FormSubmissionRequest(formSubmissionRequest FormSubmissionRequest) ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest {
	r.formSubmissionRequest = &formSubmissionRequest
	return r
}

func (r ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest) Execute() (FormFormsResponse, *_nethttp.Response, error) {
	return r.ApiService.POSTProjectsApiV3FormsPublictokenSubmitJsonExecute(r)
}

/*
 * POSTProjectsApiV3FormsPublictokenSubmitJson Submit a form response
 * This endpoint does not require authentication.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param token
 * @return ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest
 */
func (a *FormsPublicApiService) POSTProjectsApiV3FormsPublictokenSubmitJson(ctx _context.Context, token int32) ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest {
	return ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

/*
 * Execute executes the request
 * @return FormFormsResponse
 */
func (a *FormsPublicApiService) POSTProjectsApiV3FormsPublictokenSubmitJsonExecute(r ApiPOSTProjectsApiV3FormsPublictokenSubmitJsonRequest) (FormFormsResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  FormFormsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FormsPublicApiService.POSTProjectsApiV3FormsPublictokenSubmitJson")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/api/v3/forms/public/{token}/submit.json"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", _neturl.PathEscape(parameterToString(r.token, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.formSubmissionRequest == nil {
		return localVarReturnValue, nil, reportError("formSubmissionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.formSubmissionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ViewErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
